html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    font-family: Helvetica, Sans-Serif;
    color: white;
    background-color: #F0E0B0;
}

.titles
{
    position: fixed;
    left: 50%;
    top: 0px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
    background-color: black;
    width: 100%;
    height: 76px;

}

p{
    color: #F0F0F0;
    text-decoration: none;
    font-family: "Copperplate";
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 50%;
    top-margin: 0px;
    padding-left: 18px;
    padding-top: 1px;
    float: left;
}

#other {
    float: right;
    font-size: 25px;
    padding-right: 9px;
    padding-top: 15px;
    color: #F0F0F0;
    text-decoration: none;
    font-family: "Copperplate";
    float: right;
}

#instructions {
    float: left;
    font-size: 20px;
    padding-right:50px;
    padding-left: 50px;
    padding-top: 25px;
    line-height: 1.2em;
    letter-spacing: 0px;
    color: black;
    text-decoration: none;
    font-family: "Arvo", serif;
    margin: 0;
}

a#title_link{
    color: #F0F0F0;
    text-decoration: none;
    font-family: "Copperplate";
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 50%;
    top-margin: 0px;
    padding-left: 0px;
    padding-top: 5px;
}

input
{
    position: fixed;
    left: 24.5%;
    top: 50%;
    width: 47%;
    height: 53%;
    font-size: 14px;
    background-color: #F0F0F0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
}

#submit-btn {
    position: fixed;
    top: 160%;
    width: 100px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Copperplate";
    font-size: 14px;
    left: 50%;
}

#dropdown {
    margin: auto;
    position: fixed;
    font-size: 14px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-appearance: menulist-button;
    -ms-transform: translate(-50%, -50%);
    left: 67.5%;
    top: 51%;
    width: 25%;
    height: 69%;

}

#dropdown2 {
    margin: auto;
    position: fixed;
    font-size: 14px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-appearance: menulist-button;
    -ms-transform: translate(-50%, -50%);
    left: 90%;
    top: 51%;
    width: 19%;
    height: 69%;

}

#in p{
    margin: auto;
    position: fixed;
    font-size: 250%;
    left: 46.8%;
    top: 24%;
    width: 146px;
    height: 27px;
    color: yellow;
}


#boxdiv {
    position: fixed;
    width: 62%;
    height: 6%;
    top: 29.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    border: 2px solid;
    border-color: black;
    border-radius: 25px;
}

