html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    /* background:url('../img/clouds.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover; */
    font-family: Helvetica, Sans-Serif;
    color: white;
    background-color: black;
}

.titles
{
    position: fixed;
    left: 50%;
    top: 0px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
    background-color: black;
    width: 100%;
    height: 76px;

}

#title_link
{
    color: #F0F0F0;
    text-decoration: none;
    font-family: "Copperplate";
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 50%;
    top-margin: 0px;
    /*left-margin: 20px;*/
    /*padding: 10px;*/
    padding-left: 0px;
    padding-top: 8px;
}

a#title_link{
    color: #F0F0F0;
    text-decoration: none;
    font-family: "Copperplate";
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 50%;
    top-margin: 0px;
    /*left-margin: 20px;*/
    /*padding: 10px;*/
    padding-left: 18px;
    padding-top: 5px;
}

#myTable {
    background-color: white;
}

#topbar {
    background-color: black;
    height: 38px;
}

element.style {
    width: 600px;
}



