<!doctype html>
<html>
<head>
<link rel=stylesheet type="text/css" href="../static/about.css"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=places"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

</head>
    <title>TASTIO</title>
</head>

<body>
        <div id="wrapper" style="position: relative; z-index: 99;">
                <div class="social">
                </div>
                
                <div class="titles" id="topbar">
                    <p id="title_link"><a href="/" id="title_link">Tast.io</a></p>
                    <p id="other"><a href="/krdooley" id="other">Contact</a></p>
                </div>

        </div>

        <div id="instructions">
            <p id="instructions"><b>Tast.io ("Tasty-oh") is a restaurant discovery tool that uses natural language processing techniques on restaurant review text from Yelp in order to derive its suggestions.</b></p>
            <p id="instructions"><b>This was my final project from Zipfian Academy and began as a way to address the following problem:  When in a new city, how do you find restaurants most similar to a favorite restaurant in your hometown?</b></p>
            <p id="instructions"><b>While it&#39s certainly possible to search restaurant review sites for places serving a certain cuisine at a certain price point with a certain rating, it&#39s more difficult to capture some of the more subtle aspects of what makes an establishment special.</b></p>
            <p id="instructions"><b>Some restaurants have amazing waterfront views, while others offer views of a skyline. &nbsp Some pizza is Chicago style, some pizza is New York style, and sometimes pizza connoisseurs want something more artisanal. &nbsp Cozy?&nbsp  Romantic? &nbsp Loud? &nbsp Fun?&nbsp  Tast.io is able to tease out these qualities from what people are saying on Yelp.&nbsp If you would like to find out more about how it works, please visit my github link in the contact page.</b></p>
            <p id="instructions"><b>How to Use:</b></p>
            <p id="instructions"><b>1) &nbsp&nbspIn the search bar, input the name of a restaurant located in New York City or San Francisco for which you would like to find the closest matches.</b></p>
            <p id="instructions"><b>2) &nbsp&nbspSelect the restaurant from the autocomplete list.</b></p>
            <p id="instructions"><b>3) &nbsp&nbspFrom the first drop-down list, select the city in which you would like to find similar restaurants</b></p>
            <p id="instructions"><b>4) &nbsp&nbspIf you live in San Francisco or New York and you have chosen to receive results in your city, you can also choose to receive results within a certain distance of you.  (Must allow location services)</b></p>

        </div>

</body>
</html>