<!doctype html>
<html>
<head>
<link rel=stylesheet type="text/css" href="../static/videotron.css"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=places"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../static/js/jquery.tubular.js"></script>
<script>
        $().ready(function() {
                $('#wrapper').tubular({videoId: 'GHS7sGUEi54', repeat: true}); 

                function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else {
                        console.log("Geolocation is not supported by this browser.");
                    }
                }

                function showPosition(position) { 
                    console.log('got location')
                    lati_longi = [position.coords.latitude, position.coords.longitude];
                    val = $('option.geo')[0].value;
                    valnew = $('option.geonew')[0].value;
                    vallong = $('option.geolong')[0].value;
                    $('option.geo').attr('value', val + ',' + lati_longi);
                    $('option.geonew').attr('value', valnew + ',' + lati_longi);
                    $('option.geolong').attr('value', vallong + ',' + lati_longi);
                }
                getLocation();
        });
</script>

</head>
    <title>TASTIO</title>
</head>

<body>
        <div id="wrapper" style="position: relative; z-index: 99;">
                <div class="social">
                </div>
                
                <div class="titles" id="topbar">
                    <p id="title_link"><a href="/" id="title_link">Tast.io</a></p>
                    <p id="other"><a href="/krdooley" id="other">Contact</a></p>
                    <p id="about"><a href="/about" id="about">About</a></p>
                </div>

                <div id="boxdiv">
                
                <br><br><br>
                
                <form action="/get_similarities" method='POST' name="form1" id="form1">
                    <input type="text" name="user_input" class="textbox" id="location" value="" placeholder="Find me places like ..."/>
                    <div id="in">
                        <p>In</p>
                    </div>
                    <select id="dropdown" name="state"> 
                        <option value="CA" selected>San Francisco</option> 
                        <option value="NY">New York</option> 
                    </select>
                    <select id="dropdown2" name="dist"> 
                        <option class="geonew" value="0" selected>Any distance</option> 
                        <option class="geolong" value="1">Within 7 miles</option> 
                        <option class="geo" value="2">Within 2 miles</option> 
                    </select>
                    <input id="submit-btn" type="submit" value="Press here" class="text-center"/>
 
                </form>
                </div>
                
                <div id="map-canvas"></div>
        </div>
<script type="text/javascript">
    //Autocomplete variables
    var input = document.getElementById('location');
    var searchform = document.getElementById('form1');
    var place;
    var options = {
    types:  ['establishment'],
    componentRestrictions: { country: 'us' }
    };

    var autocomplete = new google.maps.places.Autocomplete(input, options);
 
    var map;
    var marker;
 
    //Add listener to detect autocomplete selection
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        place = autocomplete.getPlace();
    });

    

    //Add listener to search
    searchform.addEventListener("submit", function() {
        var newlatlong = new google.maps.LatLng(place.geometry.location.lat(),place.geometry.location.lng());
        map.setCenter(newlatlong);
        marker.setPosition(newlatlong);
        map.setZoom(12);
 
    });
 
 
 
    function initialize() {
      var myLatlng = new google.maps.LatLng(51.517503,-0.133896);
      var mapOptions = {
        zoom: 1,
        center: myLatlng
      }
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
 
      marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Main map'
      });
    }
 
    google.maps.event.addDomListener(window, 'load', initialize);
 
</script>
</body>
</html>